name: CI Tests

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ '2.7', '3.6','3.7', '3.8', '3.9', '3.10', 'pypy-2.7', 'pypy-3.8' ]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: "Set up Python ${{ matrix.os }} - ${{ matrix.python-version }}"
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install python-coveralls
          pip install -r requirements.txt

      - name: Run tests
        run: pytest -v --tb=native -p no:warnings --cov-fail-under 90 --cov
